# Application Configuration
app:
  name: "TalkToDB"
  version: "0.1.0-SNAPSHOT"

# AWS Configuration
aws:
  region: ap-southeast-2
  ses:
    senderEmail: admin@resume.simonxie.net
    replyToEmail: simon.fuxi.xie@gmail.com

# Integration Configuration
integration:
  dataApiUrl: "xxx" #to be updated

# Server Configuration
server:
  port: 8080

# Logging Configuration
logging:
  level:
    root: INFO

# Database Configuration
spring:
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.r2dbc.R2dbcAutoConfiguration
  main:
    web-application-type: reactive
  application:
    name: talktodb-api(Production)
#  datasource:
#    url: "jdbc:mysql://localhost:3306/talktodb"
#    username: "root"
#    password: "root"
#    driver-class-name: "com.mysql.cj.jdbc.Driver"

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
